<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>document</title>

    </head>
    <body>
        <h1>Confirm to delete the product</h1>
        <p>Are you sure you want to delete the product :{{product.id}}</p>
        <p>Are you sure you want to delete the product :{{product.productbrandmodel}}</p>
        <p>Are you sure you want to delete the product :{{product.productbrandname}}</p>
        <p>Are you sure you want to delete the product :{{product.productbrandcost}}</p>
        <form method="post">
            {%csrf_token%}
            <button type="submit">yes</button>
        </form>
    </body>
</html>