<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport"  ,content="width=device-width", initial="scale=1.0">
        <title>document</title>
    </head>
    <body> 
        <!-- <h1>{{nameone}}</h1>
        <h1>{{nametwo}}</h1>
        <h1>{{namethree}}</h1> --> 

        <ol type="a">
            <li>{{nameone}}</li>
            <li>{{nametwo}}</li>
            <li>{{namethree}}</li>
        </ol>


        <ol type="1">
            <li>{{nameone}}</li>
            <li>{{nametwo}}</li>
            <li>{{namethree}}</li>
        </ol>


        <ol >
            <li value="201">{{nameone}}</li>
            <li>{{nametwo}}</li>
            <li>{{namethree}}</li>
        </ol>

        <ol  start="301" >
            <li >{{nameone}}</li>
            <li>{{nametwo}}</li>
            <li>{{namethree}}</li>

        </ol>






        </ol>
    </body>
</html>