<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport"  ,content="width=device-width", initial="scale=1.0">
        <title>document</title>
    </head>
    <body>
        <h1>{{key1 | upper}}</h1>
        <h1>{{key2  | lower}}</h1>
        <h1>{{key3  | capfirst}}</h1>
        <h1>{{key4  | length}}</h1>
        <h1>{{key5  | truncatechars:5}}</h1>   
        <h1>{{key6  | slice:"5"}}</h1>     
        <h1>{{key7  | truncatewords:5}}</h1>

    </body>

</html>