<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <meta name="viewport"  ,content="width=device-width", initial="scale=1.0">
        <title>document </title>

    </head>
    <body>
       <fieldset>
        <legend>fill the form </legend>
        <form action="" method="post">
            {{form.as_p}}
            {% csrf_token %}
        
            <input type="submit" value="submit">
            </form>
       </fieldset>
        
    </body>
</html>